@font-face {
    font-family: 'NAZANIN';
    src: url('sitefonts/B_NAZANIN.TTF') format('truetype');
}

html {
    font-size: 25px; /* px means "pixels": the base font size is now 10 pixels high */
    color: blue;
    background-color: #00539f;
    direction:rtl;  
    font-family: 'NAZANIN', Arial, sans-serif;
    font-weight:bold;
}

table {
    text-align: right;
}
th,td {
    column-width: 100px;
}
td {
    background-color: lightskyblue;
}

INPUT {
    /* padding: 0 100px 0 0; */
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: auto;
    background-color: #ff9500;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}
